body, nav {
    background-image: linear-gradient(-90deg, #97c74a, #229c34);
}

#navigation-bar a:hover {
    transform: scale(1.2);
    color: white;
}

#centralized {
    margin-top: 200px;
    margin-bottom: 200px;
}

#recorder {
    height: 5vh;
    margin-top: 50px;
    margin-bottom: 100px;
}

#startButton {
    margin-right: 5px;
}

#stopButton {
    margin-left: 5px;
}

#visualizer {
    margin-bottom: 50px;
}

#cart-summary {
    margin-top: 35px;
}