<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/fragments/header :: header}"/>
</head>
<body>
<div th:replace="~{/fragments/navigation-bar :: navigation-bar}"/>
<div class="container">
    <div id="centralized" class="text-center">
        <h2>An implementation of a simple voice assistant, which recognizes the input from the microphone and returns matched products from the database to purchase.
            <br/>
            In addition, the system provides support for user authentication and registration.
        </h2>
    </div>
</div>
<div th:replace="~{/fragments/footer :: footer}"/>
</body>
</html>