<!DOCTYPE html>
<html lang="en">
<head>
    <title>Assistant</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="text-center">
        <button id="startButton">Start</button>
        <button id="stopButton">Stop</button>
    </div>
</div>
<!-- External import maps aren't yet supported-->
<script type="importmap">
{
  "imports": {
    "webmToWav": "/js/converter.js"
  }
}
</script>
<script type="module" src="/js/recorder.js"></script>
</body>
</html>