<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/fragments/header :: header}"/>
</head>
<body>
<div th:replace="~{/fragments/navigation-bar :: navigation-bar}"/>
<div class="container text-center">
    <div th:if="!${matched}" id="recorder">
        <button id="startButton" class="btn btn-dark">Start</button>
        <button id="stopButton" class="btn btn-dark">Stop</button>
    </div>
    <canvas id="visualizer"/>
</div>
<div th:if="${matched}">
    <hr/>
</div>
<div class="container text-center">
    <div th:if="${message}">
        <h3 th:text="${message}"/>
        <a class="btn btn-dark" th:href="@{/recognize}">Retry</a>
    </div>
    <div th:if="${matched}" id="result">
        <table class="table table-hover table-bordered">
            <thead class="table-dark">
            <tr>
                <th scope="col">
                    <p>Name</p>
                </th>
                <th scope="col">
                    <p>Description</p>
                </th>
                <th scope="col">
                    <p>Price</p>
                </th>
                <th scope="col">
                    <p>Currency</p>
                </th>
                <th scope="col">
                    <p>Quantity</p>
                </th>
                <th scope="col">
                    <!-- Turn this into a real link -->
                    <p>Action</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${matched}">
                <td th:text="${item.getName()}"/>
                <td th:text="${item.getDescription()}"/>
                <td th:text="${item.getPrice()}"/>
                <td th:text="${item.getCurrency()}"/>
                <td th:text="${item.getQuantity()}"/>
                <td>
                    <a class="col-md-1" th:href="@{'/cart/add/{id}'(id = ${item.getId()})}" th:if="${item.getQuantity()} > 0">
                        <button class="btn btn-dark" type="button">Buy</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-dark" th:href="@{/recognize}">Retry</a>
    </div>
</div>
<div th:replace="~{/fragments/footer :: footer}"/>
<!-- External import maps aren't supported at the time of writing -->
<script type="importmap">
{
  "imports": {
    "webmToWav": "/js/converter.js"
  }
}
</script>
<script type="module" src="/js/recorder.js"></script>
</body>