<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{/fragments/header :: header}"/>
</head>
<body>
<div th:replace="~{/fragments/navigation-bar :: navigation-bar}"/>
<div class="container">
    <div id="recorder" class="d-flex justify-content-center align-items-center">
        <button id="startButton" class="btn btn-dark mr-1">Start</button>
        <button id="stopButton" class="btn btn-dark mr-1">Stop</button>
    </div>
</div>
<!-- External import maps aren't yet supported -->
<script type="importmap">
{
  "imports": {
    "webmToWav": "/js/converter.js"
  }
}
</script>
<div th:replace="~{/fragments/footer :: footer}"/>
<script type="module" src="/js/recorder.js"></script>
</body>
</html>